#about
    
	#wrap
        section
            &#about_intro
                position relative
                margin-top 90px
                padding 20px
                background url(../../img//contents/img_about_intro_bg_01_3d.png)no-repeat,#fff
                background-position left 10% bottom -35px
                border 4px solid #179a99
                border-radius 20px
                +MQ(SP_RES_WID)
                    margin-top 30px
                    padding 7px
                    border 2px solid #179a99
                    background-size 100px auto
                    background-position left -10px bottom 5%
                &:before,&:after
                    content ''
                    position absolute
                    top -4px
                    max-width 215px
                    max-height 137px
                    width 14vw
                    height 9vw
                &:before
                    left -4px
                    background url(../../img//contents/img_about_intro_flag_l_3d.png)no-repeat
                    background-size contain
                    +MQ(SP_RES_WID)
                        display none
                &:after
                    right -4px
                    background url(../../img//contents/img_about_intro_flag_r_3d.png)no-repeat
                    background-size contain
                    +MQ(SP_RES_WID)
                        top -2px
                        right -2px
                .inner
                    flexBox()
                    flex-direction column
                    align-items center
                    padding 60px 50px
                    border 1px dashed #179a99
                    border-radius 15px
                    +MQ(SP_RES_WID)
                        padding 15px 5px
                    h3
                        margin-bottom 30px
                        color #179a99
                        font-family fot-tsukuardgothic-std, sans-serif
                        font-weight 700
                        font-style normal
                        fontSize(37)
                        letter-spacing 0.06em
                        +MQ(SP_RES_WID)
                            margin 15px 0 10px
                            fontSp(4.7)
                    p 
                        text-align center
                        +MQ(SP_RES_WID)
                            text-align left
                    a 
                        margin-top 40px
                        color #179a99
                        font-family 'Noto Sans JP', sans-serif
                        fontSize(16)
                        line-height 2.5em
                        letter-spacing 0.04em
                        transition .2s
                        &:hover
                            color #ffe225
                        +MQ(SP_RES_WID)
                            margin-top 20px
                            fontSize(14)
                            line-height 2em
            &#about_message
                +MQ(SP_RES_WID)
                    margin-top 40px
                .inner
                    h3  
                        margin-bottom 60px
                        padding-left 35px
                        background url(../../img//common/img_header_flag_active_3d.png)no-repeat
                        background-size contain
                        color #179a99
                        font-family 'Noto Sans JP', sans-serif
                        fontSize(28)
                        letter-spacing 0.06em
                        +MQ(SP_RES_WID)
                            margin-bottom 35px
                            padding-left 20px
                            fontSize(18)
                    .message_container
                        display flex
                        flex-direction column
                        >li
                            margin-bottom 60px
                            +MQ(SP_RES_WID)
                                margin-bottom 40px
                            &:nth-child(even)
                                .message_item
                                    .message_member
                                        margin-right 0
                                        margin-left 40px
                                        +MQ(SP_RES_WID)
                                            margin-left 0
                                    .message_contents
                                        order -1
                                        +MQ(SP_RES_WID)
                                            order 0
                                                
                                        &:before
                                            transform rotate(180deg)
                                            left auto
                                            right -31px
                                            margin auto 0
                                            +MQ(SP_RES_WID)
                                                transform rotate(0)
                                                margin 0 auto
                                                left 0
                                                right 0

                            &:last-child
                                margin-bottom 0
                            .message_item
                                display flex
                                justify-content space-between
                                align-items center
                                +MQ(SP_RES_WID)
                                    flex-direction column
                                .message_member
                                    padding 5px
                                    margin-right 40px
                                    border 4px solid #179a99
                                    border-radius 50%
                                    background #fff
                                    max-width 200px
                                    max-height 200px
                                    width 30%
                                    +MQ(SP_RES_WID)
                                        margin-right 0
                                        margin-bottom 42px
                                        min-width 150px
                                        min-height 150px
                                        width 30vw
                                        border 2px solid #179a99
                                .message_contents
                                    position relative
                                    padding 30px
                                    max-width 890px
                                    width 75%
                                    background #fff
                                    border 4px solid #179a99
                                    border-radius 20px
                                    +MQ(SP_RES_WID)
                                        padding 25px 15px
                                        max-width 90vw
                                        width 100%
                                        border 1px solid #179a99
                                        
                                    &:before
                                        content ''
                                        display inline-block
                                        position absolute
                                        top 0
                                        bottom 0
                                        left -31px
                                        margin auto 0
                                        width 32px
                                        height 57px
                                        background url(../../img//contents/img_about_message_before_pc.png)no-repeat
                                        background-size contain
                                        +MQ(SP_RES_WID)
                                            margin 0 auto
                                            top -22px
                                            left 0
                                            right 0
                                            width 37px
                                            height 22px
                                            background url(../../img//contents/img_about_message_before_sp.png)no-repeat
                                            background-size contain
                                    .message_upper
                                        padding-bottom 15px
                                        flexBox()
                                        justify-content space-between
                                        align-items center
                                        border-bottom 4px dotted #179a99
                                        +MQ(SP_RES_WID)
                                            flex-direction column
                                            border-bottom 2px dotted #179a99
                                        h3 
                                            width 70%
                                            background none
                                            padding-left 0
                                            margin-bottom 0
                                            +MQ(SP_RES_WID)
                                                width 100%
                                                align-self flex-start
                                                margin-bottom 10px
                                        p  
                                            width 30%
                                            color #179a99
                                            font-family 'Noto Sans JP', sans-serif
                                            fontSize(22)
                                            line-height 1em
                                            letter-spacing 0
                                            text-align right
                                            +MQ(SP_RES_WID)
                                                width 100%
                                                fontSize(14)
                                                text-align left
                                                br 
                                                    display none
                                            span 
                                                fontSize(16)
                                                +MQ(SP_RES_WID)
                                                    fontSize(11)
                                                    padding-right 10px
                                    .message_downer
                                        p
                                            margin-top 15px
                                            font-family 'Noto Sans JP', sans-serif
                                            fontSize(14)
                                            line-height 1.5em
                                            letter-spacing 0.05em  
            



                                    

